* text=auto eol=lf

/.github                    export-ignore
/tests                      export-ignore
/.gitattributes             export-ignore
/.editorconfig              export-ignore
/.gitignore                 export-ignore
/codeception.yml            export-ignore
/Makefile                   export-ignore