parameters:
	ignoreErrors:
		-
			message: '#^Dead catch \- Exception is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/S3Module.php

		-
			message: '#^Instanceof between BaseApplication and yii\\console\\Application will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: src/S3Module.php

		-
			message: '#^Cannot access property \$client on cusodede\\s3\\models\\S3\|null\.$#'
			identifier: property.nonObject
			count: 6
			path: src/commands/IndexController.php

		-
			message: '#^Cannot call method getBucket\(\) on cusodede\\s3\\models\\S3\|null\.$#'
			identifier: method.nonObject
			count: 4
			path: src/commands/IndexController.php

		-
			message: '#^Method cusodede\\s3\\components\\web\\UploadedFile\:\:getInstance\(\) should return cusodede\\s3\\components\\web\\UploadedFile\|null but returns yii\\web\\UploadedFile\|null\.$#'
			identifier: return.type
			count: 1
			path: src/components/web/UploadedFile.php

		-
			message: '#^Access to an undefined property yii\\console\\Request\|yii\\web\\Request\:\:\$isPost\.$#'
			identifier: property.notFound
			count: 3
			path: src/controllers/IndexController.php

		-
			message: '#^Access to an undefined property yii\\console\\Request\|yii\\web\\Request\:\:\$isPut\.$#'
			identifier: property.notFound
			count: 2
			path: src/controllers/IndexController.php

		-
			message: '#^Access to an undefined property yii\\console\\Request\|yii\\web\\Request\:\:\$queryParams\.$#'
			identifier: property.notFound
			count: 1
			path: src/controllers/IndexController.php

		-
			message: '#^Call to an undefined method yii\\console\\Request\|yii\\web\\Request\:\:getBodyParams\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/controllers/IndexController.php

		-
			message: '#^Call to an undefined method yii\\console\\Request\|yii\\web\\Request\:\:post\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/controllers/IndexController.php

		-
			message: '#^Parameter \#1 \$data of method yii\\base\\Model\:\:load\(\) expects array, array\|object given\.$#'
			identifier: argument.type
			count: 5
			path: src/controllers/IndexController.php

		-
			message: '#^Parameter \#1 \$name of method cusodede\\s3\\models\\S3\:\:createBucket\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/controllers/IndexController.php

		-
			message: '#^Method cusodede\\s3\\forms\\CreateBucketForm\:\:attributeLabels\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/forms/CreateBucketForm.php

		-
			message: '#^Method cusodede\\s3\\forms\\CreateBucketForm\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/forms/CreateBucketForm.php

		-
			message: '#^Cannot access property \$bucket on array\<mixed\>\|yii\\db\\ActiveRecord\.$#'
			identifier: property.nonObject
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Cannot access property \$connection on array\<mixed\>\|yii\\db\\ActiveRecord\.$#'
			identifier: property.nonObject
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Cannot access property \$deleted on array\<mixed\>\|yii\\db\\ActiveRecord\.$#'
			identifier: property.nonObject
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Cannot access property \$id on array\<mixed\>\|yii\\db\\ActiveRecord\.$#'
			identifier: property.nonObject
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Cannot access property \$key on array\<mixed\>\|yii\\db\\ActiveRecord\.$#'
			identifier: property.nonObject
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Cannot call method getFirstErrors\(\) on array\<mixed\>\|yii\\db\\ActiveRecord\.$#'
			identifier: method.nonObject
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Cannot call method save\(\) on array\<mixed\>\|yii\\db\\ActiveRecord\.$#'
			identifier: method.nonObject
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Method cusodede\\s3\\helpers\\S3Helper\:\:FileToStorage\(\) should return cusodede\\s3\\models\\cloud_storage\\CloudStorage but returns cusodede\\s3\\models\\cloud_storage\\CloudStorage\|null\.$#'
			identifier: return.type
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Method cusodede\\s3\\helpers\\S3Helper\:\:uploadFileFromModel\(\) has parameter \$tags with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Variable \$storage in PHPDoc tag @var does not exist\.$#'
			identifier: varTag.variableNotFound
			count: 1
			path: src/helpers/S3Helper.php

		-
			message: '#^Method cusodede\\s3\\models\\ArrayTagAdapter\:\:tagSet\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/ArrayTagAdapter.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:deleteObject\(\) return type has no value type specified in iterable type Aws\\Result\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:getHttp\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:getKey\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:getListBucketMap\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:getObject\(\) return type has no value type specified in iterable type Aws\\Result\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:getObjectTagging\(\) return type has no value type specified in iterable type Aws\\Result\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:getTagsArray\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:putObject\(\) return type has no value type specified in iterable type Aws\\Result\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:putResource\(\) return type has no value type specified in iterable type Aws\\Result\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:setObjectTagging\(\) has parameter \$tags with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Method cusodede\\s3\\models\\S3\:\:setObjectTagging\(\) return type has no value type specified in iterable type Aws\\Result\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/S3.php

		-
			message: '#^Using nullsafe property access on non\-nullable type \$this\(cusodede\\s3\\models\\S3\)\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/models/S3.php

		-
			message: '#^Call to an undefined method yii\\console\\Response\|yii\\web\\Response\:\:sendContentAsFile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/models/cloud_storage/CloudStorage.php

		-
			message: '#^Property cusodede\\s3\\models\\cloud_storage\\CloudStorage\:\:\$file has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/models/cloud_storage/CloudStorage.php

		-
			message: '#^Property cusodede\\s3\\models\\cloud_storage\\active_record\\CloudStorageAR\:\:\$bucket \(string\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/models/cloud_storage/CloudStorage.php

		-
			message: '#^Property cusodede\\s3\\models\\cloud_storage\\active_record\\CloudStorageAR\:\:\$key \(string\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/models/cloud_storage/CloudStorage.php

		-
			message: '#^Method cusodede\\s3\\models\\cloud_storage\\CloudStorageSearch\:\:search\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/models/cloud_storage/CloudStorageSearch.php

		-
			message: '#^Method cusodede\\s3\\models\\cloud_storage\\CloudStorageSearch\:\:setSort\(\) has parameter \$dataProvider with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/models/cloud_storage/CloudStorageSearch.php

		-
			message: '#^Possibly invalid array key type array\<string\>\|string\.$#'
			identifier: array.invalidKey
			count: 6
			path: src/models/cloud_storage/CloudStorageSearch.php

		-
			message: '#^PHPDoc tag @var for variable \$buckets has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/views/index/edit.php

		-
			message: '#^PHPDoc tag @var for variable \$controller has invalid type pozitronik\\traits\\traits\\ControllerTrait\.$#'
			identifier: varTag.trait
			count: 1
			path: src/views/index/index.php

		-
			message: '#^Class limion\\jqueryfileupload\\JQueryFileUpload not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/views/index/put.php

		-
			message: '#^PHPDoc tag @var for variable \$buckets has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/views/index/put.php

		-
			message: '#^PHPDoc tag @var for variable \$buckets has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/views/index/subviews/editPanelBody.php

		-
			message: '#^PHPDoc tag @var for variable \$buckets has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/views/index/upload.php

		-
			message: '#^Access to an undefined property yii\\base\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/widgets/files_model_list/S3FilesModelListWidget.php
