name: CI with PostgreSQL
on: [push, workflow_dispatch, pull_request]

env:
  COMPOSE_PROJECT_NAME: yii2-s3-module
  COMPOSE_FILE: tests/docker-compose.yml
jobs:
  phpunit:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ 80, 81 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: PHP Codeception tests for PHP ${{ matrix.php }}
        run: make test${{ matrix.php }}